In [1]:
import statsmodels.api as sm
import scipy.stats as stats
import os 
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
os.chdir('C:\\Users\\Trainer\\Downloads\\historical-rainfall-data-in-bangladesh')
data=pd.read_csv("credit.csv")

In [ ]:
data_n = pd.get_dummies(data)

In [4]:
data_n.head()

,Seniority,Time,Age,Expenses,Income,Assets,Debt,Amount,Price,Finrat,...,Marital_married,Marital_separated,Marital_single,Marital_widow,Records_no_rec,Records_yes_rec,Job_fixed,Job_freelance,Job_others,Job_partime
0,9,60,30,73,129,0,0,800,846,94.562648,...,1,0,0,0,1,0,0,1,0,0
1,17,60,58,48,131,0,0,1000,1658,60.313631,...,0,0,0,1,1,0,1,0,0,0
2,10,36,46,90,200,3000,0,2000,2985,67.001675,...,1,0,0,0,0,1,0,1,0,0
3,0,60,24,63,182,2500,0,900,1325,67.924528,...,0,0,1,0,1,0,1,0,0,0
4,0,36,26,46,107,0,0,310,910,34.065934,...,0,0,1,0,1,0,1,0,0,0

In [5]:
data.head()

,Status,Seniority,Home,Time,Age,Marital,Records,Job,Expenses,Income,Assets,Debt,Amount,Price,Finrat,Savings
0,good,9,rent,60,30,married,no_rec,freelance,73,129,0,0,800,846,94.562648,4.200000
1,good,17,rent,60,58,widow,no_rec,fixed,48,131,0,0,1000,1658,60.313631,4.980000
2,bad,10,owner,36,46,married,yes_rec,freelance,90,200,3000,0,2000,2985,67.001675,1.980000
3,good,0,rent,60,24,single,no_rec,fixed,63,182,2500,0,900,1325,67.924528,7.933333
4,good,0,rent,36,26,single,no_rec,fixed,46,107,0,0,310,910,34.065934,7.083871

In [6]:
data_n.columns

Index(['Seniority', 'Time', 'Age', 'Expenses', 'Income', 'Assets', 'Debt',
       'Amount', 'Price', 'Finrat', 'Savings', 'Status_bad', 'Status_good',
       'Home_ignore', 'Home_other', 'Home_owner', 'Home_parents', 'Home_priv',
       'Home_rent', 'Marital_divorced', 'Marital_married', 'Marital_separated',
       'Marital_single', 'Marital_widow', 'Records_no_rec', 'Records_yes_rec',
       'Job_fixed', 'Job_freelance', 'Job_others', 'Job_partime'],
      dtype='object')

In [9]:
import statsmodels.formula.api as smf

In [15]:
reg=smf.ols("Status_good~Seniority+ Time+ Age+ Expenses+ Income+ Assets+ Debt+\
Amount+ Price+ Finrat+ Savings+ Status_bad+Status_good+\
Home_ignore+ Home_other+ Home_owner+ Home_parents+ Home_priv+\
Home_rent+ Marital_divorced+ Marital_married+ Marital_separated+\
Marital_single+ Marital_widow+ Records_no_rec+ Records_yes_rec+\
Job_fixed+ Job_freelance+ Job_others+ Job_partime",data=data_n)

In [16]:
results=reg.fit()

In [17]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Status_good   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.237e+28
Date:                Sat, 09 Feb 2019   Prob (F-statistic):               0.00
Time:                        11:51:58   Log-Likelihood:             1.3085e+05
No. Observations:                4446   AIC:                        -2.617e+05
Df Residuals:                    4420   BIC:                        -2.615e+05
Df Model:                          25
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             0.1911   2.47e-15   7.74e+13      0.000       0.191       0.191
Seniority         -1.239e-16   9.28e-17     -1.335      0.182   -3.06e-16     5.8e-17
Time               2.803e-17   5.75e-17      0.487      0.626   -8.48e-17    1.41e-16
Age               -1.353e-16   7.51e-17     -1.802      0.072   -2.83e-16    1.19e-17
Expenses           3.534e-17   4.18e-17      0.845      0.398   -4.67e-17    1.17e-16
Income              4.35e-18   1.58e-17      0.276      0.782   -2.65e-17    3.52e-17
Assets            -3.167e-18   5.84e-20    -54.246      0.000   -3.28e-18   -3.05e-18
Debt               2.003e-18   5.22e-19      3.836      0.000    9.79e-19    3.03e-18
Amount            -4.642e-18   4.23e-18     -1.097      0.273   -1.29e-17    3.65e-18
Price              2.961e-18   2.79e-18      1.060      0.289   -2.51e-18    8.44e-18
Finrat             2.591e-17   6.88e-17      0.376      0.707   -1.09e-16    1.61e-16
Savings           -2.819e-18   3.25e-16     -0.009      0.993   -6.39e-16    6.34e-16
Status_bad           -0.4045    1.5e-15   -2.7e+14      0.000      -0.404      -0.404
Status_good           0.5955   1.43e-15   4.18e+14      0.000       0.596       0.596
Home_ignore           0.0318   7.62e-15   4.18e+12      0.000       0.032       0.032
Home_other            0.0318   2.45e-15    1.3e+13      0.000       0.032       0.032
Home_owner            0.0318   1.82e-15   1.75e+13      0.000       0.032       0.032
Home_parents          0.0318   2.11e-15   1.51e+13      0.000       0.032       0.032
Home_priv             0.0318   2.67e-15   1.19e+13      0.000       0.032       0.032
Home_rent             0.0318   1.99e-15    1.6e+13      0.000       0.032       0.032
Marital_divorced      0.0382   5.46e-15   6.99e+12      0.000       0.038       0.038
Marital_married       0.0382   1.98e-15   1.93e+13      0.000       0.038       0.038
Marital_separated     0.0382    3.3e-15   1.16e+13      0.000       0.038       0.038
Marital_single        0.0382   2.13e-15    1.8e+13      0.000       0.038       0.038
Marital_widow         0.0382   4.38e-15   8.72e+12      0.000       0.038       0.038
Records_no_rec        0.0955   1.42e-15   6.75e+13      0.000       0.096       0.096
Records_yes_rec       0.0955   1.57e-15    6.1e+13      0.000       0.096       0.096
Job_fixed             0.0478    1.3e-15   3.67e+13      0.000       0.048       0.048
Job_freelance         0.0478   1.49e-15    3.2e+13      0.000       0.048       0.048
Job_others            0.0478    2.7e-15   1.77e+13      0.000       0.048       0.048
Job_partime           0.0478   1.82e-15   2.63e+13      0.000       0.048       0.048
==============================================================================
Omnibus:                     7088.777   Durbin-Watson:                   1.654
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5970516.062
Skew:                          10.129   Prob(JB):                         0.00
Kurtosis:                     181.379   Cond. No.                     1.16e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.34e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [18]:
reg=smf.ols("Status_good~Seniority+ Time+ Age+ Expenses+ Income+ Amount+ Price+ Finrat+ Savings",data=data_n)

In [19]:
results=reg.fit()

In [20]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Status_good   R-squared:                       0.140
Model:                            OLS   Adj. R-squared:                  0.138
Method:                 Least Squares   F-statistic:                     80.16
Date:                Sat, 09 Feb 2019   Prob (F-statistic):          3.28e-138
Time:                        12:02:53   Log-Likelihood:                -2418.1
No. Observations:                4446   AIC:                             4856.
Df Residuals:                    4436   BIC:                             4920.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.9770      0.058     16.851      0.000       0.863       1.091
Seniority      0.0142      0.001     15.916      0.000       0.012       0.016
Time           0.0009      0.001      1.531      0.126      -0.000       0.002
Age           -0.0016      0.001     -2.371      0.018      -0.003      -0.000
Expenses      -0.0019      0.000     -5.024      0.000      -0.003      -0.001
Income         0.0009      0.000      5.464      0.000       0.001       0.001
Amount     -9.768e-05   4.39e-05     -2.226      0.026      -0.000   -1.17e-05
Price      -5.001e-06   2.89e-05     -0.173      0.863   -6.17e-05    5.17e-05
Finrat        -0.0037      0.001     -5.157      0.000      -0.005      -0.002
Savings        0.0014      0.003      0.441      0.659      -0.005       0.008
==============================================================================
Omnibus:                      954.086   Durbin-Watson:                   2.050
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              562.908
Skew:                          -0.745   Prob(JB):                    5.84e-123
Kurtosis:                       2.094   Cond. No.                     1.80e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.8e+04. This might indicate that there are
strong multicollinearity or other numerical problems.